.popup__input {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 13px;
}