.popup__input-error {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: normal;
    color: #F00;
    display: inline-block;
    margin-bottom: 12px;
    height: 14px;
}