.popup__save {
    border: none;
    border-radius: 2px;
    background: #000;
    color: #FFF;
    cursor: pointer;
    font-weight: 400;

}

.popup__save:hover {
    opacity: .8;
}


@media screen and (min-width:320px) {
    .popup__save {

        padding: 14px 82px;
        font-size: 14px;
    }
}

@media screen and (min-width:768px) {
    .popup__save {
        padding: 14px 124px;

        font-size: 18px;
    }
}