.profile__add-button {
    height: 50px;
    background-image: url(../../../images/add_button.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: 2px solid #ffff;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: .6;
}


@media screen and (min-width:320px) {
    .profile__add-button {
        padding: 17px 134px;
        width: 282px;
    }
}

@media screen and (min-width:768px) {
    .profile__add-button {
        padding: 14px 64px;
        width: 150px;

    }
}